
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <form asp-action="InsertConfirm">
        <lable>title</lable>
        <input name="title" /><br/>
        <label>name</label>
        <input name="name" /> <br/>
        <label>count</label>
        <input name="count" /><br/>
        <label>price</label>
        <input name="price" /><br/>
        <button>Save</button>
    </form>
</body>
</html>
