.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-color: yellow;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    background-color: yellow;
    display: block;
}

    .card img {
        width: 100%;
        height: auto;
    }



    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color: yellowgreen;
    }


.container {
    padding: 2px 16px;
}
