.card {
    width: 200px;
    height:250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
}

    .card img {
        width: 100%;
        height: auto;
    }

.card-content {
    padding: 20px;
}

    .card-content h2 {
        margin-top: 0;
        font-size: 24px;
    }

    .card-content p {
        font-size: 16px;
        color: #333;
    }

    .card-content a {
        display: inline-block;
        margin-top: 10px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }
