@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <form asp-action="InsertConfirm">
        <input name="title" />
        <input name="name" />
        <input name="count" />
        <input name="price" />
        <button>Save</button>
    </form>
</body>
</html>
