@{
    Layout = null;
}

<!DOCTYPE html>

@*HTML DOM (html data object model)*@
@*CSS (cascaborder-radiusadiusder-radiusder-radiuse sheet)*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
    <style>
        .inputA {
            background-color: coral;
            color: red;
            font-size: 20px;
            border-radius: 50px;
        }
        .inputB {
            background-color: aqua;
            color: orange;
            font-size: 20px;
            border-radius: 20px;
        }
    </style>
</head>
<body>

    <input class="inputA" placeholder="Enter your name here" />
    <br />
    <br />
    <input class="inputB" style="background-color:aqua ; font:200;border-radius = 20px" />
    <br />
    <br />
@*    <input style="background-color:apuamarine ; font:200;border-radius = 20px" />
    <br />
    <br />
    <input style="background-color:cadetblue ; font:200;border-radius = 20px" />
    <br />
    <br />*@
</body>
</html>







