@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Summer.css" rel="stylesheet" />
    <title>SummerSale</title>
</head>
<body>
    @*<img class="summerImage" src="C:\Users\ASUS\Desktop\5030\css-view-practice\css-view-practice\Images\images.jfif" >*@
    <div class="card">
        @*C:\Users\ASUS\Desktop\5030\css-view-practice\css-view-practice\Images\images.jfif*@
        <img src="~/css/images.jfif" alt="summer"  />
        <div class="container">
            <h4><b>Summer</b></h4>
            <p>Summer</p>
        </div>
    </div>

    <div class="card">
        <img src="~/css/images.jfif" alt="summer"  />
        <div class="container">
            <h4><b>Summer</b></h4>
            <p>Summer</p>
        </div>
    </div>
</body>
</html>
