@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Winter.css" rel="stylesheet" />
    <title>WinterSale</title>
</head>
<body>
    <div class="card">
        <img src="~/css/winter-sale-background-with-snowflakes-vector-11836528.jpg" alt="Placeholder Image">
        <div class="card-content">
            <h2>winter style</h2>
            <p></p>
            
        </div>
    </div>
</body>
</html>
